body {
	background: #777;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: Verdana,Arial,sans-serif;
}

#main {
	width: 850px;
	background: #bbb;
	text-align: left;
	padding: 0;
}

.sel {
	text-align: left;
	font-size: 12px;
	margin: 10px;
	vertical-align: top;
}

#clsel {
	width: 470px;
}

#skinsel {
	width: 268px;
}

.sel div {
	text-align: center;
	display: inline-block;
	cursor: pointer;
	padding: 3px 0;
	margin: 2px;
	background: #ddd;
	width: 90px;
}

.sel span {
	display: block;
	font-size: 16px;
	text-align: center;
	margin-bottom: 4px;
}

#skinsel div { width: 130px; }

.sel .selected {
	outline: 3px solid #777;
}

.sel div:hover {
	background: #eee;
}

#mainbox {
	text-align: center;
}

#stage, #stagebox, #dyebox, #main, #clsel, #skinsel {
	display: inline-block;
}

#stage {
	width: 180px;
	height: 180px;
	border: 2px solid #777;
	margin: 0 10px 10px 0;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

#stagebox {
	width: 200px;
	vertical-align: top;
	text-align: left;
	font-size: 12px;
}

.dyedesc { font-weight: bold; }

#dyebox {
	text-align: left;
	background-color: #333;
	width: 600px;
	line-height: 0;
	padding: 3px;
}

#dyebox .dye {
	width: 34px;
	height: 34px;
	display: inline-block;
	margin: 3px;
	background-repeat: repeat;
	cursor: pointer;
	position: relative;
}

#ind0, #ind1 {
	font: bold 12px Arial,sans-serif;
	position: absolute;
	color: white;
	text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
}

#ind0 { left: 2px; }
#ind1 { right: 2px; }

hr {
	border: 1px solid #777;
	margin: 10px 4px;
}

.err {
	font-size: 16px;
	margin: 20px;
}


.ui-tooltip {
	box-shadow: none;
	border: 1px solid #777;
	font-size: 12px;
	padding: 2px 4px;
	background: #ccc;
}
